<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>免费</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
</head>
<body>
<div class="m-container">
    <header class="header">
        <nav class="nav-wrap nav-index">
            <a href="javascript:;" class="nav-logo">
                <h1>
                    <img src="/static/images/logo.png" alt="">
                </h1>
            </a>
            <a href="./search.html" class="nav-link">
                <img src="/static/images/icon/search-icon.png" alt="">
            </a>
            <a href="./bookshelf.html" class="nav-link">
                <img src="/static/images/icon/book-icon.png" alt="">
            </a>
            <a href="./login.html" class="nav-link">
                <img src="/static/images/icon/user-icon.png" alt="">
            </a>
        </nav>
    </header>
    <div class="menu-classify">
        <div class="menu-full">
            <div class="icon-toggle-nav">
                <img src="/static/images/icon/down-icon.png" alt="">
            </div>
            <ul class="menu-list">
                <li class="">
                    <a href="#">分类</a>
                </li>
                <li>
                    <a href="#">排行</a>
                </li>
                <li>
                    <a href="#">免费</a>
                </li>
                <li>
                    <a href="#">完本</a>
                </li>
                <li>
                    <a href="#">包月</a>
                </li>
                <li>
                    <a href="#">发现</a>
                </li>
                <li>
                    <a href="#">男生</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="def">
        <div class="swiper-container swiper-show">
            <div class="swiper-wrapper">
                <a class="swiper-slide" href="javascript:;"><img
                        src="/static/images/banner/index-banner1.png"></a>
                <a class="swiper-slide" href="javascript:;"><img
                        src="/static/images/banner/index-banner2.png"></a>
                <a class="swiper-slide" href="javascript:;"><img
                        src="/static/images/banner/index-banner3.jpg"></a>   
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-container swiper-free-nav">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="./detail.html" class="menu-block">
                        <img src="/static/images/banner/bookorder.png"/>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="./detail.html" class="menu-block">
                        <img src="/static/images/banner/author.png"/>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="./detail.html" class="menu-block">
                        <img src="/static/images/banner/task.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="module">
            <div class="contentbox">
                <div class="boxhd">
                    <div class="title">
                        <img class="icon" src="/static/images/icon/hot-icon.png" alt="">
                        热门
                    </div>
                    <a href="#" class="icon-more">
                        更多
                        <img class="more-icon" src="/static/images/icon/right-icon.png" alt="">
                    </a>
                </div>
                <div class="boxbd">
                    <div class="common-list common-list-one">
                        <div class="common-list common-list-one">
                            <a href="./detail/5" class="details-part">
                                <div class="common-img"><img src="/static/images/book/{{img}}"></div>
                                <dl class="common-info">
                                    <dt>{{name}}</dt>
                                    <dd class="book-profile">{{ text }}</dd>
                                    <dd class="book-module">{{author}}<span class="pipe">·</span>{{type}}<span
                                            class="pipe">·</span>{{state}}<span class="pipe">·</span>{{ num}}字
                                    </dd>
                                </dl>
                            </a></div>
                    </div>
                    <div class="common-list common-list-one">
                        <div class="common-list common-list-one">
                            <a href="./detail.html" class="details-part">
                                <div class="common-img"><img src="/static/images/book/1376190.jpg"></div>
                                <dl class="common-info">
                                    <dt>九重华锦</dt>
                                    <dd class="book-profile">重活一世，掩一身惊世才华，藏身乡野，只待时机报了血海深仇。奈/static.</dd>
                                    <dd class="book-module">莫西凡<span class="pipe">·</span>古言<span
                                            class="pipe">·</span>连载<span class="pipe">·</span>59.2万字
                                    </dd>
                                </dl>
                            </a></div>
                    </div>
                    <div class="common-list common-list-one">
                        <div class="common-list common-list-one">
                            <a href="./detail.html" class="details-part">
                                <div class="common-img"><img src="/static/images/book/1370240.jpg"></div>
                                <dl class="common-info">
                                    <dt>宋先生你又装病</dt>
                                    <dd class="book-profile">【娱乐圈+医术异能】又名：《她其实是大佬》#惊爆#乔家丢了1/static.</dd>
                                    <dd class="book-module">荨秣泱泱<span class="pipe">·</span>现言<span
                                            class="pipe">·</span>连载<span class="pipe">·</span>56.3万字
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </div>
                    <div class="common-list common-list-one">
                        <div class="common-list common-list-one">
                            <a href="./detail.html" class="details-part">
                                <div class="common-img"><img src="/static/images/book/1378038.jpg"></div>
                                <dl class="common-info">
                                    <dt>小农女天生神力</dt>
                                    <dd class="book-profile">车祸而亡的柳叶子睁开眼睛发觉自己躺进了棺材里，旁边还睡了个没/static.</dd>
                                    <dd class="book-module">森雨芥子<span class="pipe">·</span>古言<span
                                            class="pipe">·</span>连载<span class="pipe">·</span>47.9万字
                                    </dd>
                                </dl>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="xslj">
            <div class="contentbox">
                <div class="boxhd">
                    <div class="title">
                        <img src="/static/images/icon/reco-icon.png" class="icon" alt="">
                        新书力荐
                    </div>
                    <a href="#" class="icon-more">更多
                        <img class="more-icon" src="/static/images/icon/right-icon.png" alt="">
                    </a>
                </div>
                <div class="boxbd">
                    <div class="common-list common-list-justify common-list-combination">
                        <a href="./detail.html" class="vertical-part">
                            <div class="common-img">
                                <img src="/static/images/book/1388021.jpg">
                            </div>
                            <p class="book-name">重生八零我养大了世界首富</p>
                            <p class="book-author">大雪人</p>
                        </a>
                        <a href="./detail.html" class="vertical-part">
                            <div class="common-img">
                                <img src="/static/images/book/1392704.jpg">
                            </div>
                            <p class="book-name">重生福晋求和离</p>
                            <p class="book-author">羽且</p>
                        </a> <a href="#" class="vertical-part">
                        <div class="common-img">
                            <img src="/static/images/book/1115738.jpg">
                        </div>
                        <p class="book-name">豪门隐婚之竹马抢青梅</p>
                        <p class="book-author">肥肉拜拜</p>
                    </a>
                    </div>
                    <div class="common-list common-list-combination">
                        <a href="./detail.html" class="details-part">
                            <dl class="common-info">
                                <dt>
                                    婚后成了大佬的掌中宝<span class="iconBook-right"><span>连载</span><span
                                        class="pipe">·</span><span>现言</span></span>
                                </dt>
                                <dd class="book-profile">“孩子生下来，我养！”她本以为他们两个是因为孩子才绑在一起，/static.</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="category">
            <div class="contentbox">
                <div class="boxhd">
                    <div class="title">
                        <img class="icon" src="/static/images/icon/category-icon.png" alt="">
                        分类推荐
                    </div>
                    <a href="#" class="icon-more">
                        更多
                        <img src="/static/images/icon/right-icon.png" class="more-icon" alt="">
                    </a>
                </div>
                <div class="tab-box tab-classify">
                    <div class="tab-hd">
                        <span class="">古言</span>
                        <span class="">现言</span>
                        <span class="">玄幻</span>
                        <span class="active">仙侠</span>
                    </div>
                    <div class="tab-bd">
                        <div class="bd-main">
                            <div class="common-list swiper-free-classify">
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1064756.jpg">
                                        <div class="mark-yellow"><span class="corner">完结</span></div>
                                    </div>
                                    <p class="book-name">极品女仙</p>
                                    <p class="book-author">金铃动</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1054102.jpg">
                                        <div class="mark-yellow"><span class="corner">完结</span></div>
                                    </div>
                                    <p class="book-name">小狐妃，太凶萌</p>
                                    <p class="book-author">醉梦凡尘</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1102809.jpg">
                                    </div>
                                    <p class="book-name">女配表示很无辜</p>
                                    <p class="book-author">一颗小豌豆呀</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/971267.jpg">
                                        <div class="mark-yellow"><span class="corner">完结</span></div>
                                    </div>
                                    <p class="book-name">仙道天妃</p>
                                    <p class="book-author">风弦渡</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/968033.jpg">
                                        <div class="mark-yellow"><span class="corner">完结</span></div>
                                    </div>
                                    <p class="book-name">丹道仙妃</p>
                                    <p class="book-author">小酱包</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1085498.jpg">
                                    </div>
                                    <p class="book-name">炮灰修真指南</p>
                                    <p class="book-author">青莲乐府</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/977430.jpg">
                                    </div>
                                    <p class="book-name">医鸣惊神</p>
                                    <p class="book-author">湛蓝冰川</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/977563.jpg">
                                    </div>
                                    <p class="book-name">这个皇后我不当</p>
                                    <p class="book-author">商兑未宁</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="order">
            <div class="contentbox">
                <div class="boxhd">
                    <div class="title">
                        <img class="icon" src="/static/images/icon/list-icon.png" alt="">
                        排行榜单
                    </div>
                    <a href="#" class="icon-more">
                        更多
                        <img class="more-icon" src="/static/images/icon/right-icon.png" alt="">
                    </a>
                </div>
                <div class="tab-box tab-classify">
                    <div class="tab-hd">
                        <span class="active">月票</span>
                        <span>畅销</span>
                        <span>打赏</span>
                        <span>新人</span>
                    </div>
                    <div class="tab-bd">
                        <div class="bd-main">
                            <div class="common-list swiper-free-classify">
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1072387.jpg">
                                    </div>
                                    <p class="book-name">山河盛宴</p>
                                    <p class="book-author">天下归元</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/949361.jpg">
                                    </div>
                                    <p class="book-name">盛世娇宠之名门闺香</p>
                                    <p class="book-author">天泠</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1363431.jpg">
                                    </div>
                                    <p class="book-name">婚后被大佬惯坏了</p>
                                    <p class="book-author">月初姣姣</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1098835.jpg">
                                    </div>
                                    <p class="book-name">神君有个小师妹</p>
                                    <p class="book-author">公子无争</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1345696.jpg">
                                    </div>
                                    <p class="book-name">大龄剩女之顾氏长媳</p>
                                    <p class="book-author">鹦鹉晒月</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1363450.jpg">
                                    </div>
                                    <p class="book-name">我就喜欢惯着你</p>
                                    <p class="book-author">姒锦</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1074345.jpg">
                                    </div>
                                    <p class="book-name">夫人你马甲又掉了</p>
                                    <p class="book-author">一路烦花</p>
                                </a>
                                <a href="./detail.html" class="vertical-part">
                                    <div class="common-img">
                                        <img src="/static/images/book/1351522.jpg">
                                    </div>
                                    <p class="book-name">金凤华庭</p>
                                    <p class="book-author">西子情</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-part bottom-part-inner">
        <div class="copyrite-bottom">
            <p class="bottom-nav">
                <a href="javascript:;">客户端</a>
                <a href="#">电脑版</a>
                <a href="#">帮助反馈</a>
                <a href="#">广告举报</a>
            </p>
            <div class="wechat">
                <img class="icon" src="/static/images/icon/wechat-icon.png" alt="">
                微信号：廖某某前端日志
            </div>
            <p class="copyrite">备案许可：桂xxx备xxxxxxxx号</p>
        </div>
    </div>
</div>
<script src="/static/common/flexible.js"></script>
<script src="/static/common/swiper.min.js"></script>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script>
  const mySwiper = new Swiper('.swiper-show', {
    autoplay: true,
    pagination: {
      el: '.swiper-pagination',
      hideOnClick: true
    }
  });
  const swiper2 = new Swiper('.swiper-free-nav', {
    slidesPerView: 2.5,
    spaceBetween: 10,
    freeMode: true,
    freeModeMomentum: true
  });
  (function() {
    var e = $('.menu-full .menu-list li:gt(4)');
    e.hide();
    var i = $('.menu-full .icon-toggle-nav');
    i.on('click', function() {
      if (e.is(':visible')) {
        e.slideUp();
        $('.menu-full').removeClass('menu-full-show');
      } else {
        e.slideDown();
        $('.menu-full').addClass('menu-full-show');
      }
      return false;
    });
    $('body').on('click', '.tab-hd span', function() {
      $(this).addClass('active').siblings().removeClass('active');
      var e = $(this).index();
      $(this).parents('.tab-box').find('.tab-bd').children('.bd-main').eq(e).show().siblings().hide();
    });
  })();
</script>
</body>
</html>
