<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>阅读</title>
    <link rel="stylesheet" href="/static/css/read.css">
</head>
<body class="b_skin_1">
<div class="page-read-top">
    <span class="book-pages">第一章 这个人真讨厌</span>
    <h1 class="read-book-name">攻略小社会</h1>
</div>
<div class="page-read page-read-across" style="height:calc(100% - .8rem);">
    <!--page-read page-read-across-->
    <content class="page-read-content">
        <article class="read-article">
            <!-- 此处改变字体大小style="font-size:24px;"  -->
            <section id="chapterContent" class="read-section">
                <!-- 此处操作翻页偏移style="transform: translateX(-100px);" -->
                <div class="jsChapterWrapper" data-chapterid="78224147"><h3>第01章 这个人真讨厌</h3>
                    <p>　　海洲三十层的精英大厦，是海洲市新兴的商贸中心。从楼顶往下看，下面的车和人都成了掌心里的小物件。</p>
                    <p>　　方星河站在三十层楼顶的边缘，伸着脖子朝下看了好一会儿。</p>
                    <p>　　半响，她把脑袋缩回来，重新抵着墙盘腿坐在地上，从自己的包里掏出一个绘画本，翻到空白页，一笔一划的在空白页写上“遗书”两个字。</p>
                    <p>　　我叫方星河，今年十七岁，是西池中学高二年级十三班学生，我自杀跟任何人没有关系，是我自己的选择。</p>
                    <p>
                        　　半个月前，我最爱的姥姥走了，她是我在这个世上唯一的亲人，我时时刻刻都在想着她。我太痛苦，每天闭着眼，看到都是姥姥的脸，可是没有人可以帮我，我活在这个世上没有任何意义，我活着就是个累赘，我想要结束这一切，我要去找我姥姥了。</p>
                    <p>　　我最后的愿望是想要跟我姥姥葬在一起，如果有好心人能看到，希望好心人能帮助我实现遗愿。</p>
                    <p>　　方星河</p>
                    <p>　　20XX年7月13号</p>
                    <p>　　方星河写完，端端正正的把本子平铺在地上，为了防止被风吹走，特地找了两块断砖压在两边。</p>
                    <p>　　做完这些，方星河深呼吸一口气，酝酿了一下情绪，然后手脚并用往墙头爬，爬到一半，身后突然有个人说：“这遗书格式不对。”</p>
                    <p>　　方星河一愣，她维持着爬墙的姿势，扭头看去，就看到一个个子极高的男人，半蹲在地上看她的遗书，留给她一个漂亮的后脑勺。</p>
                    <p>　　方星河维持攀爬的姿势开始累了，她下来，伸手抹了把眼泪：“哪、哪里不对？”</p>
                    <p>　　遗书都是想死的人留下来的，还需要格式吗？</p>
                    <p>　　年伯同的手指点点那些字：“除了这些基本资料，还有籍贯、家庭住址、身份证号码等等，这些都是最基本的。你什么都没写，谁知道你是谁家的孩子，找谁给你收尸？”</p>
                    <p>　　方星河抿着嘴，半响她慢慢蹲下来，从笔袋里拿出笔，打算补一下个人资料。</p>
                    <p>　　年伯同抬头看她一眼，“这么可爱漂亮的脸，就这么死了多可惜。”</p>
                    <p>　　方星河本能地看他一眼，一个极其英俊的男人，英俊的让人怀疑，他是不是从海报里走出来的电影明星。</p>
                    <p>　　方星河抱着本子，警惕的看着她，不动声色的往后蹬了一下腿，往后退，小声说：“你，你想干什么？你怎么能做趁火打劫的事呢？”</p>
                    <p>　　年伯同笑了笑，他没听清她在说什么：“你都不打算活了，还在意这种细节？”</p>
                    <p>　　方星河沉默半响：“我知道……”</p>
                    <p>
                        　　“跳楼这个死法不好。下坠的中途但凡有一点阻力，直接断气的可能性就很小。我见过一个被催债的人，从二十楼跳下去，没摔死，躺地上的时候跟蛇一样扭曲的躺着，全身三十多处骨折，家里开始还当人养着，后来就被扔在猪棚自生自灭。猪棚你知道吧？就是农村养猪的地方，家里舍不得钱治，偶尔给点吃的，也不知道现在是死了还是活着。”</p>
                    <p>　　方星河打个哆嗦，又蹬得离他远一点：“你不要说了……”</p>
                    <p>
                        　　“都要自杀的人了。这点痛苦还能熬不过去？”年伯同伸手把她抱在怀里的本子抽过去，“这半天都没改一个字。不过，你要是怕疼，我给你个建议，古人常用上吊法。绳子套脖子上，腿一蹬身体悬空，三五分钟就解脱了。我见过上吊死的人，眼珠子凸出来，舌头伸得老长，脖子被身体拽的像天鹅，脖子那么小的地方，多处骨折，又长又细，最起码外型很漂亮。”</p>
                    <p>　　“你能不能别说了？”方星河哑着嗓子，抱着膝盖，“我不想听。你把本子还我！”</p>
                    <p>
                        　　“既然你不想听这个，那再换个法子，跳河。要专门挑那种大江大河跳，水大浪大，下去之后就算有人想见义勇为也得思量思量。你就在水里起起伏伏个三、四下，求生不得求死不能的滋味也就那么十来分钟，足够你回味自己短暂的一生。当然，我到时候肯定是不会去看的，再漂亮的人，淹死的尸体也会泡得发胀，就跟气球似的，希望到时候给你尸检的法医不是新手，要不然不小心一戳，炸了怎么办？鲸鱼尸体在海上飘久了也会鼓胀，戳破的瞬间会突然爆炸你听说过吧？你这小身板这么小，估计到时候得炸得四分五裂。”他看着方星河，“这死法就是不够优美。”</p>
                    <p>　　方星河拼命蹬着腿往后退，眼看两人之间隔开了四五米，她大声说：“你这个人真是太讨厌了，我说了我不想听！”</p>
                    <p>
                        　　“自古忠言逆耳，你应该拿笔记下来，对比权衡之后，选择一个适合自己的死法。”年伯同听清了她的话，微笑道：“要不然你试试安眠药？我告诉你法子，隔一段时间开一次，隔一段时间开一次，然后攒一块吃，保准效果很好。我有个前女友，就是选择了这么个死法，挣扎了好几天，身体一直抽，都抽出节奏感来了，跟她说话她听得到，脑子清醒但身体不能动，后来好不容易被救过来，成了傻子。我给你介绍了这么多死法，你有什么感想，跟我说说？”</p>
                    <p>　　方星河眼泪都被吓没了，瞪着眼：“我不要你管。你走开！”</p>
                    <p>　　“反正都要死的人了，勇敢一点。”年伯同蹲累了，就地盘腿坐了下来，丝毫没有觉得粗糙的水泥面会磨损到他精致的服装，他伸手一指楼顶：“我第一次到这里来的时候，也想过跳下去一了百了。”</p>
                    <p>　　方星河小心的抬头看他一眼，“那你为什么没跳？”</p>
                    <p>　　“因为跳下去容易，死了后怎么办？尸体都没人认领，冻在停尸间，不能下葬，不能火化。逢年过节连烧张纸的人都没有，还不如活着。”年伯同眼睛看着远处一处云朵，“想想太可悲，还是活下去试试。”</p>
                    <p>　　方星河看他一阵子，随即低着头，一下一下拿笔头戳着地面。</p>
                    <p>　　“真不想活了？”年伯同笑了下，“要不再试试？说不准会有意外的惊喜。你这么年轻，还在上学吧？”他看到她身上穿的校服，“这世上没有人值得你留念的活着？</p>
                    <p>　　“没有，”她沮丧：“我姥走了之后，我活着就没意思……人为什么要活着？为什么活着就要受折磨？”</p>
                    <p>　　年伯同微微倾着身体，听到了她最后两句话，他回答：“活着的人，是为了能纪念死去的人。”</p>
                    <p>　　方星河愣了下，她抿着嘴没说话。</p>
                    <p>　　“你姥姥辛苦把你养大，不是为了让你在最好的年纪死去。”年伯同温和的看着她，犹如看到曾经年少的自己：“死去容易，活着艰难。可是你不试试，怎么知道这个世界有多喜欢你？”</p>
                    <p>　　“这个世界不会有人喜欢我……”她湿了眼圈：“除了我姥姥……”</p>
                    <p>
                        　　年伯同依旧笑着：“怎么会？世上太多的人被喜欢而不自知。我想，你姥姥把你养大，一定不是为了让你自暴自弃。等你到了六十岁，你说看破人生不想活了，那时候，如果我再遇到你，一定不会像今天这样阻拦你。”</p>
                    <p>
                        　　方星河坐正身体，盯着他看了好一会，突然一骨碌爬起来，说：“你长这么好看，别人当然喜欢你！你才体会不到我的心情，你们这些大人，就是说好好听而已，叨叨叨，像我班主任一样给学生灌鸡汤，最烦了！”</p>
                    <p>　　她把本子抢过来，往背包里一塞，抬脚跑走了。</p>
                    <p>　　年伯同只是低头一笑，他一扭头，看到刚刚那丫头待过的地方，有个绿色的皮面小本子，捡起来一看，上面印着三个字：团员证。</p>
                    <p>
                        　　打开团员证，入眼处是刚刚那小姑娘傻傻的证件照，圆圆的脸蛋，精巧的下巴，一双大眼睛倒是炯炯有神，姓名处歪歪扭扭用黑色笔写着：方星河，下面依次是性别、民族、籍贯以及出生年月等信息，入团地点和单位则是西池中学。</p>
                    <p>　　西池中学并不是海洲市的高中，而是海洲的附属西池县的一个普通高中。</p>
                    <p>　　团员证上的组织关系接转栏显示，她已转出西池中学，而转入处则是一片空白。</p></div>
            </section>
            <a id="aMore" href="javascript:;">
                <p class="loading-more">
                    正在加载更多
                    <span class="la-ball-pulse">
                        <em></em>
                        <em></em>
                        <em></em>
                    </span>
                </p>
            </a>
        </article>
    </content>
</div>
<script src="/static/common/flexible.js"></script>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
</body>
</html>
