html {
  color: #333;
  background: #fff;
  font-family: 'PingFang SC', 'Microsoft YaHei', Arial, '宋体';
}
* {
  line-height: 1.5;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: none;
}
a {
  text-decoration: none;
  color: #333;
  outline: none;
}
a:hover {
  color: #333;
}
var,
em {
  font-style: normal;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
legend {
  color: #000;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  font-size: 100%;
  outline: none;
}
body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #95b6ef;
}
img {
  -webkit-touch-callout: none;
}
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type=date],
button,
select,
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent !important;
}
a,
input[type=text],
select,
input[type=password],
textarea {
  -webkit-tap-highlight-color: transparent !important;
}
input::-webkit-input-placeholder {
  color: #666;
}
.hide {
  display: none !important;
}
.show {
  display: block;
}
.m-container {
  background-color: #fff;
  min-height: calc(100vh - 2.9rem - 2px);
}
.header {
  padding: 0 0.3rem;
}
.nav-wrap {
  height: 1.2rem;
  line-height: 1rem;
  display: box;
  display: -webkit-box;
  -webkit-box-align: center;
}
.icon {
  width: 1.6em;
  height: 1.6em;
  vertical-align: -0.1em;
  fill: currentColor;
  overflow: hidden;
}
.header-inner {
  padding: 0;
}
.header-inner .nav-wrap {
  position: relative;
  color: #666;
  height: 1.3rem;
  z-index: 900;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.header-inner .nav-wrap .back-icon {
  position: absolute;
  left: 0.3rem;
  top: 0.4rem;
  display: block;
}
.header-inner .nav-wrap h1 {
  text-align: center;
  -webkit-box-flex: 1;
  font-size: 0.4rem;
  font-weight: normal;
}
.header-inner .nav-wrap .menu-side {
  position: absolute;
  right: 0.15rem;
  top: 0.4rem;
}
.header-inner .nav-wrap .menu-side .nav-icon {
  float: left;
  padding: 0 0.35rem;
}
.header-inner .nav-wrap .menu-side .icon-close {
  display: none;
}
.header-inner .nav-wrap .menu-side .menu-switch-active .icon-show {
  display: none;
}
.header-inner .nav-wrap .menu-side .menu-switch-active .icon-close {
  display: inline-block;
  -webkit-animation: rotateIn 0.5s ease both;
}
.menu-dropdown {
  z-index: 899;
  position: absolute;
  left: 0;
  padding: 1rem 0 0.8rem;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 5px #ddd;
          box-shadow: 0 0 5px #ddd;
  -webkit-transform: translateY(-141%);
          transform: translateY(-141%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.menu-dropdown .dropdown-wrap {
  overflow: hidden;
}
.menu-dropdown .dropdown-wrap a {
  text-align: center;
  float: left;
  width: 20%;
  line-height: 1.5rem;
  font-size: 0.4rem;
}
.menu-dropdown .dropdown-wrap a .icon {
  display: block;
  margin: 0 auto;
  width: 0.7rem;
  height: 0.7rem;
}
.menu-dropdown .btn-center {
  background: #f47983;
  color: #fff;
  width: 6.52rem;
  display: block;
  text-align: center;
  line-height: 1.2rem;
  margin: 0.8rem auto 0;
  border-radius: 0.2rem;
  font-size: 0.5rem;
}
.menu-dropdown-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.bottom-part {
  border-top: 0.18rem solid #f5f5f5;
  background: #fff;
}
.bottom-part-inner {
  border: none;
  overflow: hidden;
  padding: 0.15rem 0 0;
  border-top: 0.1rem solid #f5f5f5;
  margin: -0.1rem 0 0;
}
.copyrite-bottom {
  text-align: center;
}
.copyrite-bottom .bottom-nav {
  color: #424242;
}
.copyrite-bottom .bottom-nav a {
  display: inline-block;
  padding: 0 0.4rem;
  line-height: 0.73rem;
  font-size: 0.35rem;
}
.copyrite-bottom .wechat {
  width: 5.5rem;
  margin: 0.15rem auto;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.3rem;
  color: #999;
  border: 1px solid #999;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}
.copyrite-bottom .wechat .icon {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  margin: 0 0.08rem 0 0;
  vertical-align: middle;
}
.copyrite-bottom .copyrite {
  font-size: 0.3rem;
  color: #999;
  line-height: 0.6rem;
  margin: 0.225rem 0 0.125rem;
}
.page-read-top {
  height: 1rem;
  color: #999;
  font-size: 0.4rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  background: inherit;
  padding: 0 0.55rem;
}
.page-read-top .book-pages {
  float: right;
  line-height: 1rem;
}
.page-read-top .read-book-name {
  font-weight: normal;
  font-size: 0.4rem;
  line-height: 1rem;
}
.b_skin_1 .page-read {
  color: #3b3b38;
  background: #fcfaef;
}
.page-read-across {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 0.8rem);
}
.page-read-across .page-read-content {
  position: absolute;
  top: 1rem;
  bottom: 0.1rem;
  overflow: hidden;
  width: 100%;
}
.page-read-across .read-article {
  height: 100%;
  min-height: 100%;
}
.page-read-across .read-section {
  overflow-y: scroll;
  height: 100%;
/*-webkit-columns: calc(100vw - 40px) 1
    -webkit-column-gap: 20px
    columns: calc(100vw -40px) 1
    column-gap: 20px*/
}
.page-read-content .read-article {
  font-size: 16px;
  line-height: 1.8;
}
.page-read-content .read-article p {
  font-size: 1em;
  margin: 0.2rem 0 0;
  word-break: break-all;
}
.read-article {
  line-height: 1.8;
  overflow: hidden;
  min-height: calc(100vh - 0.8rem);
  margin: 0 20px;
  text-align: justify;
  font-size: 16px;
}
.la-ball-pulse {
  display: inline-block;
  vertical-align: top;
  margin: 0.11rem 0 0;
}
.la-ball-pulse em {
  width: 0.08rem;
  height: 0.08rem;
  margin: 0 0.05rem;
  border-radius: 100%;
  -webkit-animation: ball-pulse 1s ease infinite;
  animation: ball-pulse 1s ease infinite;
  float: left;
  background: #999;
  font-style: normal;
}
.la-ball-pulse em:nth-child(1) {
  -webkit-animation-delay: -200ms;
  animation-delay: -200ms;
}
.page-read {
  padding: 0.8rem 0 0;
}
.page-read .loading-more {
  padding: 0.25rem 0 0.4rem;
}
.loading-more {
  font-size: 0.24rem;
  color: #999;
  text-align: center;
  padding: 0 0 0.4rem;
}
.read-article h3 {
  font-weight: normal;
  font-size: 0.6rem;
  line-height: 1.2;
  margin: 0.4rem 0;
}
.read-article p {
  font-size: 1em;
  margin: 0.2rem 0 0;
  word-break: break-all;
  line-height: 1.8;
}
